@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #121212;
  --color-primary-light: #202020;
  --color-primary-on: #fff;
  --color-secundary: #e0ff00;
  --color-secundary-n: 224, 255, 0;
  --color-secundary-alt: #ffff00;
  --color-secundary-lilac: #ea90ff;
  --color-secundary-lilac-n: 234, 144, 255;
  /* --color-primary-green: #e0ff00;
  --color-primary-yellow: #ffff00; */
  --color-grey: #666;
  --color-alert: #ef4444; /*red 500*/
  --color-warning: #fbbf24; /*amber 400*/
  --color-success: #22c55e;  /* Lime 600 */
  @apply bg-primary;
}

.theme-dashboard {
  --color-primary: #1f2023;
  --color-primary-dark: #121212;
  --color-primary-light: #27282d;
  --color-primary-lighter: #393b43;
  
  --color-primary-on: #fff;
  --color-secundary: #e5f876;
  --color-secundary-alt: #E0FF00;
  /* --color-secundary-alt: #ffff00; */
  --color-secundary-lilac: #ea90ff;

  --color-grey: #bebebe;
  @apply bg-primary;
}

.theme-teco1 {
  --color-primary-dark: #3c02a2;
  --color-primary: #0b0026;
  --color-primary-light: #7538e0;
  --color-primary-lighter: #9964f5;
  
  --color-primary-on: #fff;
  --color-secundary: #69d8d1;
  --color-secundary-alt: #463ea5;
  /* --color-secundary-alt: #ffff00; */
  --color-secundary-lilac: #d30077;

  --color-grey: #bebebe;
  @apply bg-primary;
}

.theme-teco {
  --color-primary: #121212;
  --color-primary-dark: #1b1b1d;
  --color-primary-light: #463ea5;
  /* --color-primary-light: #3c02a2;   */
  --color-primary-lighter: #9964f5;  
  --color-primary-on: #fff;
  --color-secundary: #69d8d1;
  --color-secundary-alt: #463ea5;
  --color-secundary-lilac: #d30077;

  --color-grey: #bebebe;
  background-color: #121212;
}

body {
  margin: 0;
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  @apply text-secundary;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}
form *:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color:  var(--color-secundary-lilac);
  outline-offset: 0;
}